@charset "UTF-8";
nav,
nav ul {
  background: #333; }

.shop-box,
.trad-box {
  border-bottom: 1px solid #ccc; }

.container-box .container .message-box .config div,
.container-box .container .message-box > .title,
.shop-box .shop .shop-name {
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container-box .container .img .help a:hover,
.container-box .container .keyboard .title-box a:hover,
.container-box .container .memory .title-box a:hover,
.container-box .container .processor .title-box a:hover,
.container-box .container .storage .title-box a:hover,
.trad-box .trad .div3 a:hover {
  text-decoration: underline; }

#chose .msg button,
.container-box .container .img .help,
.trad-box .trad div {
  text-align: center; }

nav {
  position: sticky;
  top: 0;
  z-index: 1; }

nav ul {
  width: 1000px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

nav ul li {
  float: left; }

nav ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 44px; }

.shop-box {
  background: #fff; }

.shop-box .shop {
  width: 980px;
  height: 50px;
  margin: 0 auto; }

.shop-box .shop .shop-name {
  display: inline-block;
  font-size: 21px;
  line-height: 50px;
  font-weight: 700; }

.shop-box .shop .shop-tip {
  float: right; }

.shop-box .shop .shop-tip ul {
  display: inline-block;
  overflow: hidden; }

.shop-box .shop .shop-tip ul li {
  float: left;
  line-height: 50px;
  margin-right: 10px;
  font-size: 14px; }

.shop-box .shop .shop-tip ul li a {
  font-size: 10px;
  color: #666; }

.trad-box {
  background: #fff;
  margin-bottom: 70px; }

.trad-box .trad {
  width: 961px;
  height: 90px;
  padding: 11px 0 8px;
  margin: 0 auto;
  background: #fff; }

.trad-box .trad .div1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2em; }

.trad-box .trad .div2 {
  font-size: 13px;
  line-height: 1.8em;
  font-weight: 400; }

.trad-box .trad .div3 {
  font-size: 12px;
  line-height: 30px; }

.trad-box .trad .div3 a {
  color: #0070c9; }

.container-box {
  background: red; }

.container-box .container {
  width: 980px;
  margin: 0 auto; }

.container-box .container .img {
  width: 250px;
  height: 220px;
  float: left;
  border: 1px solid #ccc;
  position: relative; }

.container-box .container .img img {
  width: 100%;
  height: 100%; }

.container-box .container .img .watch-pic {
  text-align: center;
  font-size: 12px;
  line-height: 96px; }

.container-box .container .img .help span {
  font-size: 12px; }

.container-box .container .img .help a {
  font-size: 12px;
  color: #0070c9; }

.container-box .container .img .mark {
  width: 100px;
  height: 100px;
  background: #000;
  opacity: .3;
  position: absolute;
  filter: alpha(opacity=30);
  left: 0;
  top: 0;
  display: none; }

.container-box .container .big-img {
  width: 756px;
  height: 666px;
  position: absolute;
  left: 580px;
  top: 46px;
  overflow: hidden;
  display: none; }

.container-box .container .big-img img {
  width: 873px;
  height: 830px;
  position: absolute; }

.container-box .container .message-box {
  width: 490px;
  background: #fff;
  float: right; }

.container-box .container .message-box > .title {
  width: 490px;
  height: 92px;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 500;
  letter-spacing: .004em;
  background: #fff; }

.container-box .container .message-box .config {
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 28px; }

.container-box .container .message-box .config div {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; }

.container-box .container .processor {
  width: 490px;
  height: 315px;
  background: #fff; }

.container-box .container .processor .title-box .title {
  font-family: "黑体";
  font-weight: bolder;
  margin-bottom: 10px; }

.container-box .container .processor .title-box a {
  font-size: 12px;
  color: #0070c9;
  line-height: 24px; }

.container-box .container .processor .close-one {
  margin-bottom: 15px; }

.container-box .container .processor .close-one,
.container-box .container .processor .close-two {
  width: 466px;
  height: 86px;
  background: #fff;
  padding: 10px;
  font-family: SF Pro SC, SF Pro Text, SF Pro Icons, AOS Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 22px;
  border: 2px solid #ccc;
  border-radius: 8px; }

.container-box .container .processor .close-one .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .processor .close-one .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .processor .close-two .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .processor .close-two .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .memory {
  width: 490px;
  height: 270px;
  background: #fff; }

.container-box .container .memory .title-box .title {
  font-family: "黑体";
  font-weight: bolder;
  margin-bottom: 10px; }

.container-box .container .memory .close-one,
.container-box .container .memory .close-two {
  margin-bottom: 15px; }

.container-box .container .memory .title-box a {
  font-size: 12px;
  color: #0070c9;
  line-height: 24px; }

.container-box .container .memory .close-one,
.container-box .container .memory .close-two {
  width: 466px;
  height: 66px;
  background: #fff;
  padding: 10px;
  font-family: SF Pro SC, SF Pro Text, SF Pro Icons, AOS Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 22px;
  border: 2px solid #ccc;
  border-radius: 8px; }

.container-box .container .memory .close-one .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .memory .close-one .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .memory .close-two .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .memory .close-two .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .storage {
  width: 490px;
  height: 380px;
  background: #fff; }

.container-box .container .storage .title-box .title {
  font-family: "黑体";
  font-weight: bolder;
  margin-bottom: 10px; }

.container-box .container .storage .close-one,
.container-box .container .storage .close-two {
  margin-bottom: 15px; }

.container-box .container .storage .title-box a {
  font-size: 12px;
  color: #0070c9;
  line-height: 24px; }

.container-box .container .storage .close-one,
.container-box .container .storage .close-three,
.container-box .container .storage .close-two {
  width: 466px;
  height: 66px;
  background: #fff;
  padding: 10px;
  font-family: SF Pro SC, SF Pro Text, SF Pro Icons, AOS Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 22px;
  border: 2px solid #ccc;
  border-radius: 8px; }

.container-box .container .storage .close-one .left,
.container-box .container .storage .close-three .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .storage .close-one .right,
.container-box .container .storage .close-three .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .storage .close-three .left,
.container-box .container .storage .close-two .left {
  width: 250px;
  height: 84px;
  float: left; }

.container-box .container .storage .close-three .right,
.container-box .container .storage .close-two .right {
  float: right;
  line-height: 86px;
  font-weight: 400; }

.container-box .container .keyboard {
  width: 490px;
  height: 118px;
  background: #fff; }

.container-box .container .keyboard .title-box .title {
  font-family: "黑体";
  font-weight: bolder;
  margin-bottom: 10px; }

.container-box .container .keyboard .title-box a {
  font-size: 12px;
  color: #0070c9;
  line-height: 24px; }

.container-box .container .keyboard select {
  width: 490px;
  height: 57px;
  border-radius: 8px;
  text-indent: 1em;
  font-size: 15px; }

#chose {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #ccc;
  background: #f8f8f8; }

#chose .msg {
  width: 376px;
  height: 96px;
  margin: 10px 0 0 800px; }

#chose .msg button,
#chose .msg div {
  display: inline-block; }

#chose .msg div {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; }

#chose .msg div::after {
  content: "24 个月免息分期, 每月仅约 RMB 646";
  display: block;
  font-size: 10px;
  color: #0070c9;
  font-weight: 400; }

#chose .msg button {
  width: 122px;
  height: 35px;
  font-size: 16px;
  background-color: #006dbc;
  border: none;
  border-radius: 6px;
  line-height: 30px;
  color: #fff;
  margin: -1px 0 0 10px;
  position: relative;
  left: 10px;
  top: -22px; }

#chose .msg button:hover {
  cursor: pointer; }

footer {
  width: 100%;
  height: 664px;
  margin-top: 1560px;
  background: url(../images/shop-bottom.png) left top no-repeat;
  background-size: 100% 100%; }
